import(grid, ggplot2, scales, graphics, scales, grDevices, utils)
export( numberOfDays , isMonthEnd , isWeekDay , BatchDate , JulianToGregorianCYYDDDf , isPrimeTime, read_soa_events, range_limit_on_timestamp, date_qualifier, makeFootnote , CMLCopyRight , SDLCopyRight, SRDCopyRight, TimeGraph, graph_cust, graph_cust_nolim, ggplot_cust, ibm.lspr.data, ITCAMSOATimeStamp, multiplot , read.all.csv, read.IAMI.Application.Log.IAF.Variant, read.IAMI.Application.Log.EAI.Variant, SDFromTriple, SDFromTripleDiff, IntervalTime, time.to.seconds , wiki.table, arg_min)
